<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}">
<!--/*layout:decorate="~{붙일 레이아웃 경로}" : 내 조각이 붙여질 위치>*/-->

<div layout:fragment="content">
	<div class="container-sm" th:with="user=${#authentication.getPrincipal().user}">
		<h3>modify page</h3>
		<form action="/user/modify" method="POST">
			<!-- csrf 토큰 추가 -->
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">

			<div class="card" style="width: 18rem;">
				<img src="/image/돈까스.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">
						<input type="hidden" class="form-control" name="email" th:value="${user.email}">
						<input type="text" class="form-control" name="nickName" th:value="${user.nickName}">
						<input type="password" class="form-control" name="pwd" placeholder="password...">
					</h5>
					<p class="card-text fw-bold">[[${user.email}]]</p>
					<p class="card-text">[[${user.regDate}]]</p>
					<p class="card-text"><small>Last login [[${user.lastLogin}]] ago</small></p>

					<!-- 권한 -->
					<p class="card-text">
						<th:block th:each="auths:${user.authList}">
							<span class="badge text-bg-success">[[${auths.auth}]]</span>
						</th:block>
					</p>

					<button type="sumbit" class="btn btn-primary btn-sm">modify</button>
					<a th:href="@{/user/delete(email=${user.email})}"><button type="button" class="btn btn-danger btn-sm">delete</button></a>
				</div>
			</div>
		</form>
	</div>
</div>