<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}">
<!--/*layout:decorate="~{붙일 레이아웃 경로}" : 내 조각이 붙여질 위치>*/-->

<div layout:fragment="content">
	<div class="container-sm">
		<form action="/board/modify" method="post" id="modForm">
			<h3>[ no.[[${board.bno}]] ] detail page</h3>

			<input type="hidden" name="bno" th:value="${board.bno}">
			<div class="mb-3">
				<label for="t" class="form-label">Title</label>
				<input type="text" name="title" th:value="${board.title}" class="form-control" id="t" readonly>
			</div>
			<div class="mb-3">
				<label for="w" class="form-label">Writer</label>
				<input type="text" name="writer" th:value="${board.writer}" class="form-control" id="w" readonly>
			</div>
			<div class="mb-3">
				<label for="r" class="form-label">RegDate</label>
				<input type="text" name="regDate" th:value="${board.regDate}" class="form-control" id="r" readonly>
			</div>
			<div class="mb-3">
				<label for="c" class="form-label">Content</label>
				<textarea class="form-control" name="content" id="c" rows="5" cols="30" readonly>[[${board.content}]]</textarea>
			</div>
		</form>
		<button type="button" class="btn btn-primary" id="listBtn"><a href="/board/list" class="text-decoration-none text-dark">list</a></button>
		<button type="button" class="btn btn-warning text-dark" id="modBtn">update</button>
		<button type="button" class="btn btn-danger" id="delBtn"><a th:href="@{/board/delete(bno=${board.bno})}" class="text-decoration-none text-dark">delete</a></button>

		<div>
			<!--comment post-->
			<div class="input-group my-3">
				<span class="input-group-text" id="cmtWriter">Tester</span>
				<input type="text" id="cmtText" class="form-control" placeholder="Add Comment..." aria-label="Username" aria-describedby="basic-addon1">
				<button type="button" id="cmtAddBtn" class="btn btn-primary">post</button>
			</div>

			<!--comment spread-->
			<ul class="list-group list-group-flush" id="cmtListArea">
				<li class="list-group-item">
					<div class="ms-2 me-auto">
						<div class="fw-bold">writer</div>
						content
					</div>
					<span class="badge text-bg-primary">reg_date</span>
				</li>
			</ul>

			<!--moreBtn-->
			<div class="input-group my-3">
				<button type="button" class="btn btn-info" id="moreBtn">more</button>
			</div>

			<!--modal-->
			<div class="modal" tabindex="-1" id="commentModal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="cmtWriterMod">Tester</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<input type="text" class="form-control" id="cmtTextMod">
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary" id="cmtModBtn">changes</button>
						</div>
					</div>
				</div>
			</div>



		</div>

		<script th:inline="javascript">
			const bnoValue = [[${board.bno}]];
		</script>
		<script src="/js/boardComment.js"></script>
		<script src="/js/boardModify.js"></script>
		<script>
            spreadCommentList(bnoValue);
		</script>
	</div>
</div>